---
- name: Build Docker images
  hosts: serveurs
  become: yes

  vars:
    app_path: /root/app

  tasks:

    - name: Build image with Dockerfile
      ansible.builtin.shell: docker build -t gestion-abonnements:latest .
      args:
        chdir: "{{ app_path }}"

    - name: Build images with docker-compose
      ansible.builtin.shell: docker-compose build
      args:
        chdir: "{{ app_path }}"
