---
- name: Build Docker images
  hosts: localhost
  connection: local
  become: yes

  vars:
    app_path: /root/app

  tasks:

    - name: Build images with docker compose
      ansible.builtin.shell: docker compose build
      args:
        chdir: "{{ app_path }}"

